* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    margin: 4px 10px;
}

body {
    background-color: #eeeeee;
    line-height: 1.75;
    margin: 0 auto;
    max-width: 60%;
}

code, .struct {
    background-color: gainsboro;
    margin: 4px;
    padding: 4px;
}

.title {
    background-color: grey;
}

.endpoint {
    background-color: gainsboro;
    padding: 10px 30px;
    margin: 10px 0;
}

.deprecated {
    background-color: orange;
    margin: 20px 0;
}

.struct {
    padding: 8px 30px;
}

code, code b, .struct span {
    font-family: 'Courier New', Courier, monospace;
}

.struct-prop {
    font-weight: bold;
}

.navbar {
    font-size: 25px;
    font-weight: bold;
    float: right;
}

.navbar a {
    color: darkgrey;
    text-decoration: none;
    padding: 2px;
    margin: 2px 0;
}

.status span {
    font-size: 28px;
}

.success, .fail, .unsure, .ratelimit {
    padding: 4px;
    font-weight: bold;
}

.success {
    background-color: green;
    color: greenyellow;
}

.fail {
    background-color: rgb(106, 0, 0);
    color: red;
}

.ratelimit {
    background: linear-gradient(to right, #19ff8c 0%,#04cfad 100%);
}

.info {
    text-align: center;
}

.levelpacks {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gainsboro;
    text-align: left;
    padding: 8px;
}